.App {
  text-align: center;
  
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  
  font-size: calc(10px + 2vmin);
  color: white;
  
  
 
}
.containerCard2{
  
  width: 70%;
}

button{
  padding: 7px 12px;
  background-color: rgb(177, 104, 138);
  border: none;
  border-radius: 4px;
  
}
@media only screen and (max-width: 900px) {
  .containerCard{
    color: rebeccapurple;
    
  }

  .App-header{
    flex-wrap: wrap;
  }

  
}



